# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.pytest_cache/
*.db
*.sqlite3
yolov8n.pt

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm

# Logs & OS
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
